@use "../utils/mixin.scss" as *;

.container {
  padding: 30px 20px;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
}

.videoContainer {
  display: grid;
  grid-template-rows: auto auto auto;

  &__title {
    grid-row: 3 / 4;
  }

  &__tag {
    grid-row: 2 / 3;
  }

  &__video {
    grid-row: 1 / 2;
  }
}

.h1 {
  margin: 20px 0 30px;
  font-size: 20px;

  &::before {
    content: "🐉 「";
  }

  &::after {
    content: "」";
  }

  @include min-screen() {
    margin-bottom: 80px;
    font-size: 28px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0 0 -10px;
  font-size: 12px;
  list-style: none;

  &__item {
    padding: 10px 0 0 10px;
  }

  &__txt {
    display: block;
    min-width: 60px;
    padding: 2px 10px;
    text-align: center;
    background: linear-gradient(145deg, #d7d6d6, #fff);
    border-radius: 9px;
    box-shadow: 3px 3px 10px #bdbcbc, -3px -3px 10px #fff;
  }

  @include min-screen() {
    margin: 0 0 0 -20px;
    font-size: 14px;

    &__item {
      padding: 20px 0 0 20px;
    }

    &__txt {
      padding: 4px 14px;
    }
  }
}

.sns {
  margin: 0 0 10px;
  font-size: 12px;
  text-align: right;

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0 0;

    + .sns__item {
      margin-left: 20px;
    }
  }

  &__title {
    margin: 0 8px 0 0;
  }

  &__btn {
    margin: 0;

    iframe {
      display: block;
    }
  }
  
  @include min-screen() {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.markdown {
  padding: 20px;
  background: #e0e0e0;
  border-radius: 12px;
  box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #fff;

  > *:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: 16px;
  }

  [class*="twitter-tweet"]:not(:first-child) {
    margin: 40px 0 0 !important; // stylelint-disable-line
  }

  @include min-screen() {
    padding: 40px;

    h2 {
      font-size: 20px;
    }

    [class*="twitter-tweet"]:not(:first-child) {
      margin: 100px 0 0 !important; // stylelint-disable-line
    }
  }
}

.returnBtn {
  margin: 140px 0 0;
  text-align: center;
}
