@use "../utils/mixin.scss" as *;

.header {
  position: relative;
  padding: 0 20px;
  overflow: hidden;
}

.mv {
  min-height: 520px;
  background: transparent right bottom / contain no-repeat;

  @include min-screen() {
    // position: sticky;
    // top: 0;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: auto 1fr 50%;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
  }
}

.h1 {
  padding: 40px 0 14px;
  margin: 0;
  font-family: serif;
  font-size: 42px;
  text-align: center;

  @include min-screen() {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 29px 0 0;
    font-size: 5vw; // fz50px / bp1000px * 100vw
    text-align: left;
    writing-mode: vertical-lr;
  }

  @include min-screen(1800px) {
    font-size: 90px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.description {
  padding: 0 10px;
  font-family: serif;
  font-feature-settings: normal;
  text-shadow: 0 0 4px #fff, -1px -1px 4px #fff, 1px 1px 4px #fff;
  letter-spacing: 1.2px;

  &__txt {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0;
  }

  &__row {
    display: block;
    opacity: 0;
    writing-mode: vertical-rl;
    animation: 2s fadeIn forwards ease-out;

    &:nth-of-type(2) {
      animation-delay: .5s;
    }

    &:nth-of-type(3) {
      animation-delay: 1s;
    }

    &:nth-of-type(4) {
      animation-delay: 1.5s;
    }
  }

  @include min-screen(600px) {
    font-size: 2.4vw;
  }

  @include min-screen() {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 35px 0 0 10px;
    font-size: 2vw; // fz20px / bp1000px * 100vw;

    &__txt {
      justify-content: flex-end;
    }
  }
  @include min-screen(1600px) {
    font-size: 32px; // 1600 * 2vw / 100
  }
}

.coco {
  margin: -40px 0 0;

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: .3s opacity ease-out;
    aspect-ratio: 179 / 176; // 895 / 880;

    &[data-state="loaded"] {
      opacity: 1;
    }
  }

  @include min-screen() {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    margin-top: 0;

    &__img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: auto;
      max-width: none;
      height: 80vw;
      max-height: 90%;
    }
  }
}

.youtube {
  position: absolute;
  top: 0;
  right: 0;

  &__link {
    display: block;
    padding: 4px 40px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    cursor: inherit;
    background: #ff0102;
    transform: translate(65px, -30px) rotate(38deg);
    transform-origin: 0 0 0;
  }

  @include min-screen() {
    &__link {
      font-size: 16px;
      transition: .2s padding ease-out, .2s transform ease-out;

      &:hover,
      &:focus {
        padding: 40px 100px;
        color: #fff;
        cursor: pointer;
        transform: translate(160px, -95px) rotate(38deg);
        backface-visibility: hidden;
      }
    }
  }
}

.container {
  background: #fff;
}

.main {
  // TODO: 左右の余白とエリアのmax-widthをアウターとインナーで別々に持たせる
  position: relative;
  z-index: 1;
  padding: 0 20px;
  overflow: hidden;

  @include min-screen() {
    max-width: 1280px;
    padding-bottom: 100px;
    margin: 0 auto;
  }
}
