.button {
  display: inline-block;
  min-width: 160px;
  padding: 12px 40px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  border-radius: 50px;
}
