@use "../utils/mixin.scss" as *;

.wrap {
  margin: 40px 0;
  text-align: center;

  @include min-screen() {
    margin: 60px 0;
  }
}

.link {
  display: inline-block;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: #fd8953;
  border-radius: 6px;

  @include min-screen() {
    padding-right: 40px;
    padding-left: 40px;
    transition: .2s opacity ease-out;

    &:hover,
    &:focus {
      color: #fff;
      opacity: .8;
    }
  }
}
