@use "../utils/mixin.scss" as *;

.button {
  display: inline-block;
  min-width: 160px;
  padding: 12px 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #333;
  border-radius: 50px;

  @include min-screen() {
    &:hover,
    &:focus {
      color: #fff;
      opacity: .8;
    }
  }
}
