@use "./utils/mixin.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: orange;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-feature-settings: "palt";
  line-height: 1.8;
  color: #3c1818;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efeeee;
}

small {
  font-size: 100%;
}

a {
  @include min-screen() {
    cursor: inherit;
  }
}
